
*{
     box-sizing: border-box;
	font-family: 'Overpass', sans-serif;
}


.btn {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: #004080;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    overflow-wrap: break-word;
     white-space:normal;
    border-radius: 6px;

}



    .btn:hover, button:hover {
        background-color: #221a54;
        color: white;
    }
#pageContent{
    width: 50%;
    height: 70%;
    background-color: #ffffff;
    position: absolute;
    display:flex;
    flex-direction:column;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
   
}
#instructions{
    font-size: 20px;
    text-align: center;
    width:80%;
    margin:0 auto;
	color:grey;
}
#selectMatrices{
   text-align:center;
    
    
}
.wrapper{
    height:180px;
    margin:20px;
    display:flex;
    justify-content: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10), 0 10px 40px 0 rgba(0,0,0,0.19);
    border-radius:10px; 

}


.wrapper > * {

    margin: auto;
}


h3 {
    color: #004080;
}


form {
    color: grey;
}

input {
    margin-bottom: 5px;
    width: 30px;
    margin-left: 5px;
    color: black;
    background-color: #FFFFFF;
    display: inline-block;
    float: left;
    border-style: solid;
}

.matrixAnswerInput {
    width: 110px;
}


#matrixFinalAnswerContainer {
    display: none;
}

#matrixAnswerContainer {
    display: none;
}


.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
#btnContainer{
      display: flex;
     justify-content:space-between;
     white-space:normal;
}

#btnContainer .btn{
     min-width:150px;
    min-height:50px;
     display: flex;
     justify-content:space-around;
     white-space:normal;
}
#MathJax-Element-1-Frame{
    position:absolute;
    display:flex;
	
    overflow:scroll;
    padding:35px;   
    
}


#mistakeNotification{
	color:red;
}

	.topnav {
			overflow: hidden;
			background-color: #004080;

		}

		.topnav a {
		  float: left;
		  display: block;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		}

		.topnav a:hover {
		  background-color: #eaf0f9;
		  color: black;
		}

		.topnav a.active {
			background-color: #221a54;
			color: white;
		}
#selectMatrices #m1x, #m1y, #m2x, #m2y{
	 border:none;
    border-radius:5px;
    color:grey;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.10), 0 10px 40px 0 rgba(0,0,0,0.19);
}
#selectMatrices{
    display:flex;
    justify-content:space-between;
 
}

  #math {
     display: none
    }
	#display{
        position:absolute;
        width:80%;
        top:75%;
		left:10%;
		
   
	}
	#display > *{
		text-align:center;
		 
        
	}
#selectors{}
  