* {
    margin: 0;
    box-sizing: border-box;
}

/*
#math{
	display: none;
	z-index: 5000;
}
*/

html,
body {
    height: 100%;
    background-color: #FFFFFF;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
    position: relative;
    min-height: 100%;
    background-color: rgba(0, 77, 255, 0.03);
}

#header {
    color: #004080;
    background-color: #FFFFFF;
    text-transform: uppercase;
}

#textAndIcon {
    text-align: left;
    background-color: #FFFFFF;
    font-size: 45px;
    line-height: 60px;
    font-family: 'Francois One', sans-serif;
}

img {
    height: 50px;
    width: 50px;
    float: left;
    margin: 5px;
}

.topnav {
    background-color: #004080;
    color: #FFFFFF;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.topnav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    display: inline-block;
    height: 60px;
    margin-left: 10px;
    padding: 0px 10px;
}

.topnav a:hover {
    background-color: #eaf0f9;
    color: black;
}

.topnav a:active {
    background-color: #221a54;
    color: white;
}

#content {
    border-radius: 0px 0px 10px 10px;
}

#content #instructions {
    padding: 10px;
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
    width: 50%;
    font-family: 'Overpass', sans-serif;
    color: #666666;
}

#left {
    margin: auto 0;
    text-align: center;
    padding: 0 10px;
}

#right {
    margin: auto 0;
    text-align: center;
    padding: 0 10px;
    font-size: 30px;
}

#determinantTable {
    padding-left: 15px;
    overflow: auto;
    max-height: 400px;
}

th,
td {
    text-align: left;
}

th {
    background-color: #221a54;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px;
}

#determinantTable tr:nth-child(even) {
    background-color: #FFFFFF;
}

#determinantTable tr:hover {
    background-color: #87CEFA;
}

input {
    height: 30px;
    width: 30px;
}

table {
    display: inline;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #004080;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.tooltip span {
    display: none;
}


/*display ja math teevad sama asja. kas võib ühe eemaldada? või miks nad seal duubeldavad*/

#display {
    display: none;
}
#answerHeadline{
	color:#666666;
}
#selectFormSize{
	color:#666666;
}

.btn {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.20), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: #004080;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    overflow-wrap: break-word;
    white-space: normal;
    border-radius: 6px;
    height: 40px;
    font-family: 'Francois One', sans-serif;
}

.btn:hover,
button:hover {
    background-color: #221a54;
    color: white;
}