

*{
     box-sizing: border-box;
	 font-family: verdana;
}

.btn {
     box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: #004080;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    overflow-wrap: break-word;
     white-space:normal;
    border-radius: 6px;

}



    .btn:hover, button:hover {
        background-color: #221a54;
        color: white;
    }
 


#pageContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity:0.9;
    border-radius:6px;
    top: 50%;
    left: 50%;
   

}
h1 {
    text-align: center;
    color: #004080;
    font-size: 60px;
}

h3 {
    color: #004080;
}

#instructions{
    font-size: 20px;
    text-align: center;
    width:80%;
    margin:0 auto;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    #selectFormSize{
   
    text-align: center;
    
}
#btnContainer .btn{
   min-width:150px;
    width:15%;
 
}

#btnContainer{
     display: flex;
     justify-content:space-around;
     white-space:normal;
    
}




form {
    color: grey;
}
input {
    width: 30px;
    height:30px;
    margin-left: 5px;
    margin-bottom:5px;
    color: black;
    background-color: #FFFFFF;
    border-style: solid;
}

tbody {
      
}



th, td {
    text-align: left;
    padding: 8px;
}
th{
   background-color: #272788;  
    color:#ffffff;
}


#determinantTable{
	display:none;
  transition: margin-left .5s;
}



table#matrixPermutationTable {
    margin: auto;
}


#matrixDeterminantAnswer{
    order: 3;
    margin: auto;
    text-align:center;
    font-size:30px;
    display:none; 
}

#answerHeadline{
    
    order: 2;
    margin: auto;
    display:none;
}


#matrixDeterminantContainer{
order: 1;
margin: auto;   
  
}

#matrixInput{
    display: flex;
    justify-content: center;
    flex-direction:row;
    margin: 20px;   
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius:10px;   
    padding:10px;
}



	.topnav {
			overflow: hidden;
			background-color: #004080;
		}

		.topnav a {
		  float: left;
		  display: block;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		}

		.topnav a:hover {
		  background-color: #eaf0f9;
		  color: black;
		}

		.topnav a.active {
			background-color: #221a54;
			color: white;
		}
