/*
#id <-- ID põhjal
.class <-- klassi põhjal
element <-- elemendi põjal
*/

body {
    font-family: verdana;
    background-color: #ffffff;
}

h1 {
    color: #004080;
    text-align: center;
    color: #004080;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5px;
    left: 50%;
    font-size: 60px;
}

h3 {
    color: #004080;
}

.btn {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: #004080;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    overflow-wrap: break-word;
    white-space:normal;
    border-radius: 6px;
}

button {
   
}

    .btn:hover, button:hover {
        background-color: #221a54;
        color: white;
    }

form {
    color: grey;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }