/*
#id <-- ID p천hjal
.class <-- klassi p천hjal
element <-- elemendi p천jal

*/

.YdropdownContent{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.show {display:block;}


#inputmatrix{
	/*display: block;*/ /*<-- Paneb kastid 체ksteise alla*/
	margin-left: 5px;
	margin-bottom: 5px;
	width: 30px;
}
